trigger:
  branches:
    include:
      - main

variables:
  ACR_NAME: acrcapstonedeva1b2c
  IMAGE_NAME: frontend-app
  IMAGE_TAG: $(Build.BuildId)
  RESOURCE_GROUP: steven-rg-capstone-dev
  WEBAPP_NAME: stevens-webapp-frontend-dev

pool:
  vmImage: ubuntu-latest

stages:
- stage: BuildAndDeploy
  displayName: Build & Deploy Frontend to Azure Web App
  jobs:
  - job: BuildDeploy
    displayName: Docker → ACR → Web App
    steps:

    # Login to Azure
    - task: AzureCLI@2
      displayName: Azure Login
      inputs:
        azureSubscription: stevens-capstone-dev-conn
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          az account show

    - task: AzureCLI@2
      displayName: Build & Push Image to ACR
      inputs:
        azureSubscription: stevens-capstone-dev-conn
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          set -e

          echo "Getting ACR access token..."
          TOKEN=$(az acr login \
            --name $ACR_NAME \
            --expose-token \
            --output tsv \
            --query accessToken)

          echo "Logging Docker into ACR..."
          docker login $ACR_NAME.azurecr.io \
            -u 00000000-0000-0000-0000-000000000000 \
            -p $TOKEN

          echo "Building Docker image..."
          docker build \
            -t $ACR_NAME.azurecr.io/$IMAGE_NAME:$IMAGE_TAG \
            -f frontend/Dockerfile \
            frontend

          echo "Pushing Docker image..."
          docker push $ACR_NAME.azurecr.io/$IMAGE_NAME:$IMAGE_TAG


        # Configure Web App container
    - task: AzureCLI@2
      displayName: Update Web App Container Image
      inputs:
        azureSubscription: stevens-capstone-dev-conn
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          set -e

          IMAGE="$ACR_NAME.azurecr.io/$IMAGE_NAME:$IMAGE_TAG"

          echo "Configuring Web App to use image: $IMAGE"

          az webapp config container set \
            --name $WEBAPP_NAME \
            --resource-group $RESOURCE_GROUP \
            --container-image-name $IMAGE \
            --container-registry-url https://$ACR_NAME.azurecr.io

    # Restart Web App (forces image pull)
    - task: AzureCLI@2
      displayName: Restart Web App
      inputs:
        azureSubscription: stevens-capstone-dev-conn
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          set -e

          echo "Restarting Web App..."
          az webapp restart \
            --name $WEBAPP_NAME \
            --resource-group $RESOURCE_GROUP
